.wrapper {
  display: flex;
}

.wrapper * {
  margin: 1rem;
  padding: 1rem;
}

.wrapper button {
  background-color: #d3d3d3;
  border: 1px solid grey;
  &:hover {
    background-color: #c0c0c0;
  }
}
